<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Today Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Transmission Remote.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B835C85B225594F2003C553A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B89AD10B225476F800AE0DFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B89AD4BA22547AFA00AE0DFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8B11ABF2262EEA300A58B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
